<Layouts.app flash={@flash}>
  <.header>
    Edit Message {@message.id}
    <:subtitle>Use this form to manage message records in your database.</:subtitle>
  </.header>

  <.message_form changeset={@changeset} action={~p"/messages/#{@message}"} return_to={~p"/messages"} />
</Layouts.app>
